<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybveg.govx.system.dao.sys.MoudleFunctionMapper">
  <resultMap id="BaseResultMap" type="com.ybveg.govx.system.model.po.sys.MoudleFunction">
    <result column="id" jdbcType="VARCHAR" property="id"/>
    <result column="moudle_id" jdbcType="VARCHAR" property="moudleId"/>
    <result column="func_code" jdbcType="VARCHAR" property="funcCode"/>
    <result column="clazz" jdbcType="VARCHAR" property="clazz"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
  </resultMap>
  <insert id="insert" parameterType="com.ybveg.govx.system.model.po.sys.MoudleFunction">
    insert into sys_moudle_func (id, moudle_id, func_code,
    clazz, name)
    values (#{id,jdbcType=VARCHAR}, #{moudleId,jdbcType=VARCHAR}, #{funcCode,jdbcType=VARCHAR},
    #{clazz,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ybveg.govx.system.model.po.sys.MoudleFunction">
    insert into sys_moudle_func
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="moudleId != null">
        moudle_id,
      </if>
      <if test="funcCode != null">
        func_code,
      </if>
      <if test="clazz != null">
        clazz,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="moudleId != null">
        #{moudleId,jdbcType=VARCHAR},
      </if>
      <if test="funcCode != null">
        #{funcCode,jdbcType=VARCHAR},
      </if>
      <if test="clazz != null">
        #{clazz,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>