<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybveg.govx.system.dao.sys.RoleMapper">
  <resultMap id="BaseResultMap" type="com.ybveg.govx.system.model.po.sys.Role">
    <result column="id" jdbcType="VARCHAR" property="id"/>
    <result column="type" jdbcType="VARCHAR" property="type"/>
    <result column="dept_id" jdbcType="VARCHAR" property="deptId"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
  </resultMap>
  <insert id="insert" parameterType="com.ybveg.govx.system.model.po.sys.Role">
    insert into sys_role (id, type, dept_id,
    name, create_time)
    values (#{id,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{deptId,jdbcType=VARCHAR},
    #{name,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ybveg.govx.system.model.po.sys.Role">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>