<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybveg.govx.system.dao.sys.RoleModuleFunctionMapper">
  <resultMap id="BaseResultMap" type="com.ybveg.govx.system.model.po.sys.RoleModuleFunction">
    <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
    <result column="module_func_id" jdbcType="VARCHAR" property="moduleFuncId"/>
  </resultMap>
  <insert id="insert" parameterType="com.ybveg.govx.system.model.po.sys.RoleModuleFunction">
    insert into sys_role_module_func (role_id, module_func_id)
    values (#{roleId,jdbcType=VARCHAR}, #{moduleFuncId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective"
    parameterType="com.ybveg.govx.system.model.po.sys.RoleModuleFunction">
    insert into sys_role_module_func
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="moduleFuncId != null">
        module_func_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="moduleFuncId != null">
        #{moduleFuncId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>