<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybveg.govx.system.dao.sys.RoleMoudleFunctionMapper">
  <resultMap id="BaseResultMap" type="com.ybveg.govx.system.model.po.sys.RoleMoudleFunction">
    <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
    <result column="moudle_func_id" jdbcType="VARCHAR" property="moudleFuncId"/>
  </resultMap>
  <insert id="insert" parameterType="com.ybveg.govx.system.model.po.sys.RoleMoudleFunction">
    insert into sys_role_moudle_func (role_id, moudle_func_id)
    values (#{roleId,jdbcType=VARCHAR}, #{moudleFuncId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective"
    parameterType="com.ybveg.govx.system.model.po.sys.RoleMoudleFunction">
    insert into sys_role_moudle_func
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="moudleFuncId != null">
        moudle_func_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="moudleFuncId != null">
        #{moudleFuncId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>