<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybveg.govx.system.mapper.AreaMapper">
  <resultMap id="BaseResultMap" type="com.ybveg.govx.system.model.po.Area">
    <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
    <result column="area_name" jdbcType="VARCHAR" property="areaName"/>
    <result column="code_level" jdbcType="INTEGER" property="codeLevel"/>
    <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode"/>
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode"/>
    <result column="city_code" jdbcType="VARCHAR" property="cityCode"/>
    <result column="county_code" jdbcType="VARCHAR" property="countyCode"/>
    <result column="town_code" jdbcType="VARCHAR" property="townCode"/>
    <result column="village_code" jdbcType="VARCHAR" property="villageCode"/>
  </resultMap>
  <select id="list" resultType="HashMap">
    SELECT * FROM sys_area
  </select>
</mapper>