<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybveg.govx.system.mapper.MenuModuleMapper">
  <resultMap id="BaseResultMap" type="com.ybveg.govx.system.model.po.MenuModule">
    <result column="menu_id" jdbcType="VARCHAR" property="menuId"/>
    <result column="module_id" jdbcType="VARCHAR" property="moduleId"/>
  </resultMap>
  <insert id="insert" parameterType="com.ybveg.govx.system.model.po.MenuModule">
    insert into sys_menu_module (menu_id, module_id)
    values (#{menuId,jdbcType=VARCHAR}, #{moduleId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ybveg.govx.system.model.po.MenuModule">
    insert into sys_menu_module
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="moduleId != null">
        module_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>