<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybveg.govx.system.mapper.admin.AreaMapper">
  <resultMap id="BaseResultMap" type="com.ybveg.govx.system.model.po.admin.Area">
    <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
    <result column="area_name" jdbcType="VARCHAR" property="areaName"/>
    <result column="code_level" jdbcType="INTEGER" property="codeLevel"/>
    <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode"/>
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode"/>
    <result column="city_code" jdbcType="VARCHAR" property="cityCode"/>
    <result column="county_code" jdbcType="VARCHAR" property="countyCode"/>
    <result column="town_code" jdbcType="VARCHAR" property="townCode"/>
    <result column="village_code" jdbcType="VARCHAR" property="villageCode"/>
  </resultMap>
  <insert id="insert" parameterType="com.ybveg.govx.system.model.po.admin.Area">
    insert into sys_area (area_code, area_name, code_level, 
      full_name, parent_code, province_code, 
      city_code, county_code, town_code, 
      village_code)
    values (#{areaCode,jdbcType=VARCHAR}, #{areaName,jdbcType=VARCHAR}, #{codeLevel,jdbcType=INTEGER}, 
      #{fullName,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=VARCHAR}, #{countyCode,jdbcType=VARCHAR}, #{townCode,jdbcType=VARCHAR}, 
      #{villageCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ybveg.govx.system.model.po.admin.Area">
    insert into sys_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="areaName != null">
        area_name,
      </if>
      <if test="codeLevel != null">
        code_level,
      </if>
      <if test="fullName != null">
        full_name,
      </if>
      <if test="parentCode != null">
        parent_code,
      </if>
      <if test="provinceCode != null">
        province_code,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="countyCode != null">
        county_code,
      </if>
      <if test="townCode != null">
        town_code,
      </if>
      <if test="villageCode != null">
        village_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null">
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="codeLevel != null">
        #{codeLevel,jdbcType=INTEGER},
      </if>
      <if test="fullName != null">
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="countyCode != null">
        #{countyCode,jdbcType=VARCHAR},
      </if>
      <if test="townCode != null">
        #{townCode,jdbcType=VARCHAR},
      </if>
      <if test="villageCode != null">
        #{villageCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>