<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybveg.govx.system.mapper.admin.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.ybveg.govx.system.model.po.admin.Department">
    <result column="id" jdbcType="VARCHAR" property="id"/>
    <result column="dept_type" jdbcType="VARCHAR" property="deptType"/>
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode"/>
    <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
    <result column="dept_admin" jdbcType="VARCHAR" property="deptAdmin"/>
    <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
    <result column="enable" jdbcType="VARCHAR" property="enable"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
  </resultMap>
  <insert id="insert" parameterType="com.ybveg.govx.system.model.po.admin.Department">
    insert into sys_dept (id, dept_type, dept_code, 
      dept_name, dept_admin, area_code, 
      enable, create_time)
    values (#{id,jdbcType=VARCHAR}, #{deptType,jdbcType=VARCHAR}, #{deptCode,jdbcType=VARCHAR}, 
      #{deptName,jdbcType=VARCHAR}, #{deptAdmin,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{enable,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ybveg.govx.system.model.po.admin.Department">
    insert into sys_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deptType != null">
        dept_type,
      </if>
      <if test="deptCode != null">
        dept_code,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="deptAdmin != null">
        dept_admin,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="deptType != null">
        #{deptType,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptAdmin != null">
        #{deptAdmin,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>