<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybveg.govx.system.mapper.admin.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.ybveg.govx.system.model.po.admin.UserRole">
    <result column="sys_user_role" jdbcType="VARCHAR" property="sysUserRole"/>
    <result column="user_id" jdbcType="VARCHAR" property="userId"/>
  </resultMap>
  <insert id="insert" parameterType="com.ybveg.govx.system.model.po.admin.UserRole">
    insert into sys_user_role (sys_user_role, user_id)
    values (#{sysUserRole,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ybveg.govx.system.model.po.admin.UserRole">
    insert into sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysUserRole != null">
        sys_user_role,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysUserRole != null">
        #{sysUserRole,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>